.mensagem{
        background-color: rgba(30, 120, 30, 0.85); 
        box-shadow: 0 10px 30px rgba(0,0,0,0.5);
        margin-bottom: 10px;
        color: white;
        display: flex;
        justify-content: space-between;
        border: none;
        padding: 10px 20px;
        border-radius: 50px;
        font-weight: bold;
        font-size: 16px;
        button{
            cursor: pointer;
            background: none;
            border: none;
            outline: none;
            img{
                transform: rotate(90deg);
            }
        }
    }