<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <filter>
        <filter-name>SegurancaFiltro</filter-name>
        <filter-class>filter.SegurancaFiltro</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SegurancaFiltro</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SegurancaFiltro</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controle.usuario.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarServlet</servlet-name>
        <servlet-class>controle.usuario.CadastrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileServlet</servlet-name>
        <servlet-class>controle.usuario.MyProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.AtualizarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.DeletarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>controle.homepage.HomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageAdmServlet</servlet-name>
        <servlet-class>controle.homepage.HomepageAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controle.usuario.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>controle.produto.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.MostrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.AdicionarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirProdutoBDServlet</servlet-name>
        <servlet-class>controle.produto.InserirProdutoBDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <servlet-class>controle.produto.RemoverProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.EditarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarFotoServlet</servlet-name>
        <servlet-class>controle.foto.AdicionarFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarFotoBDServlet</servlet-name>
        <servlet-class>controle.foto.AdicionarFotoBDServlet</servlet-class>
        <multipart-config>
            <location/>
            <max-file-size>52428800</max-file-size>
            <!-- 50MB -->
            <max-request-size>62914560</max-request-size>
            <!-- 60MB -->
            <file-size-threshold>1048576</file-size-threshold>
            <!-- 1MB -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>MostrarFotoServlet</servlet-name>
        <servlet-class>controle.foto.MostrarFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarFotoServlet</servlet-name>
        <servlet-class>controle.foto.EditarFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverFotoServlet</servlet-name>
        <servlet-class>controle.foto.RemoverFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileAdmServlet</servlet-name>
        <servlet-class>controle.usuario.MyProfileAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompeticoesServlet</servlet-name>
        <servlet-class>controle.competicao.CompeticoesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.ListarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.InserirCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.DeletarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.AtualizarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTimeServlet</servlet-name>
        <servlet-class>controle.time.ListarTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirTimeServlet</servlet-name>
        <servlet-class>controle.time.InserirTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarTimeServlet</servlet-name>
        <servlet-class>controle.time.DeletarTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtulizarTimeServlet</servlet-name>
        <servlet-class>controle.time.AtualizarTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCampeonatoServlet</servlet-name>
        <servlet-class>controle.campeonato.ListarCampeonatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCampeonatoServlet</servlet-name>
        <servlet-class>controle.campeonato.InserirCampeonatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarCampeonatoServlet</servlet-name>
        <servlet-class>controle.campeonato.DeletarCampeonatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCampeonatoServlet</servlet-name>
        <servlet-class>controle.campeonato.AtualizarCampeonatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarListarAuxCampTimeServlet</servlet-name>
        <servlet-class>controle.aux_camp_time.ListarAuxCampTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirListarAuxCampTimeServlet</servlet-name>
        <servlet-class>controle.aux_camp_time.InserirAuxCampTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarListarAuxCampTimeServlet</servlet-name>
        <servlet-class>controle.aux_camp_time.DeletarAuxCampTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarListarAuxCampTimeServlet</servlet-name>
        <servlet-class>controle.aux_camp_time.AtualizarAuxCampTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirAtributoServlet</servlet-name>
        <servlet-class>controle.atributo.InserirAtributoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarAtributoServlet</servlet-name>
        <servlet-class>controle.atributo.AtualizarAtributoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAtributoServlet</servlet-name>
        <servlet-class>controle.atributo.ListarAtributoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirFiltroBDServlet</servlet-name>
        <servlet-class>controle.filtro.InserirFiltroBDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarFiltroServlet</servlet-name>
        <servlet-class>controle.filtro.DeletarFiltroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarFiltroServlet</servlet-name>
        <servlet-class>controle.filtro.AtualizarFiltroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFiltroServlet</servlet-name>
        <servlet-class>controle.filtro.ListarFiltroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarAtributoServlet</servlet-name>
        <servlet-class>controle.atributo.DeletarAtributoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoEstoqueServlet</servlet-name>
        <servlet-class>controle.produto.ProdutoEstoqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IrLoginServlet</servlet-name>
        <servlet-class>controle.usuario.IrLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaPesquisaServlet</servlet-name>
        <servlet-class>controle.produto.PaginaPesquisaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListrarAuxFiltroAtributoServlet</servlet-name>
        <servlet-class>controle.aux_filtro_atributo.ListrarAuxFiltroAtributoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAuxFiltroAtributoServlet</servlet-name>
        <servlet-class>controle.aux_filtro_atributo.ListarAuxFiltroAtributoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarAuxFiltroAtributoServlet</servlet-name>
        <servlet-class>controle.aux_filtro_atributo.EditarAuxFiltroAtributoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverAuxFiltroAtributoServlet</servlet-name>
        <servlet-class>controle.aux_filtro_atributo.RemoverAuxFiltroAtributoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarAuxFiltroAtributoBDServlet</servlet-name>
        <servlet-class>controle.aux_filtro_atributo.AdicionarAuxFiltroAtributoBDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarAuxFiltroAtributoServlet</servlet-name>
        <servlet-class>controle.aux_filtro_atributo.AdicionarAuxFiltroAtributoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarUsuarioAdmServlet</servlet-name>
        <servlet-class>controle.usuario.DeletarUsuarioAdmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarServlet</servlet-name>
        <url-pattern>/Cadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileServlet</servlet-name>
        <url-pattern>/secure/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <url-pattern>/secure/AtualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarUsuarioServlet</servlet-name>
        <url-pattern>/secure/DeletarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/secure/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageAdmServlet</servlet-name>
        <url-pattern>/admin/HomepageAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/secure/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/admin/Produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProdutoServlet</servlet-name>
        <url-pattern>/MostrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoServlet</servlet-name>
        <url-pattern>/admin/AdicionarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirProdutoBDServlet</servlet-name>
        <url-pattern>/admin/InserirProdutoBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <url-pattern>/admin/RemoverProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProdutoServlet</servlet-name>
        <url-pattern>/admin/EditarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarFotoServlet</servlet-name>
        <url-pattern>/admin/AdicionarFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarFotoBDServlet</servlet-name>
        <url-pattern>/admin/AdicionarFotoBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarFotoServlet</servlet-name>
        <url-pattern>/MostrarFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarFotoServlet</servlet-name>
        <url-pattern>/admin/EditarFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverFotoServlet</servlet-name>
        <url-pattern>/admin/RemoverFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileAdmServlet</servlet-name>
        <url-pattern>/admin/MyProfileAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompeticoesServlet</servlet-name>
        <url-pattern>/admin/Competicoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <url-pattern>/admin/ListarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCategoriaServlet</servlet-name>
        <url-pattern>/admin/InserirCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarCategoriaServlet</servlet-name>
        <url-pattern>/admin/DeletarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <url-pattern>/admin/AtualizarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTimeServlet</servlet-name>
        <url-pattern>/admin/ListarTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirTimeServlet</servlet-name>
        <url-pattern>/admin/InserirTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarTimeServlet</servlet-name>
        <url-pattern>/admin/DeletarTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarTimeServlet</servlet-name>
        <url-pattern>/admin/AtualizarTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCampeonatoServlet</servlet-name>
        <url-pattern>/admin/ListarCampeonato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCampeonatoServlet</servlet-name>
        <url-pattern>/admin/InserirCampeonato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarCampeonatoServlet</servlet-name>
        <url-pattern>/admin/DeletarCampeonato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCampeonatoServlet</servlet-name>
        <url-pattern>/admin/AtualizarCampeonato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAuxCampTimeServlet</servlet-name>
        <url-pattern>/admin/ListarAuxCampTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirAuxCampTimeServlet</servlet-name>
        <url-pattern>/admin/InserirAuxCampTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarAuxCampTimeServlet</servlet-name>
        <url-pattern>/admin/DeletarAuxCampTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarAuxCampTimeServlet</servlet-name>
        <url-pattern>/admin/AtualizarAuxCampTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirAtributoServlet</servlet-name>
        <url-pattern>/admin/InserirAtributo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarAtributoServlet</servlet-name>
        <url-pattern>/admin/AtualizarAtributo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAtributoServlet</servlet-name>
        <url-pattern>/admin/ListarAtributos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirFiltroBDServlet</servlet-name>
        <url-pattern>/admin/InserirFiltro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarFiltroServlet</servlet-name>
        <url-pattern>/admin/DeletarFiltro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarFiltroServlet</servlet-name>
        <url-pattern>/admin/AtualizarFiltro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFiltroServlet</servlet-name>
        <url-pattern>/admin/ListarFiltro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarAtributoServlet</servlet-name>
        <url-pattern>/admin/DeletarAtributo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoEstoqueServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IrLoginServlet</servlet-name>
        <url-pattern>/IrLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaPesquisaServlet</servlet-name>
        <url-pattern>/secure/PaginaPesquisa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListrarAuxFiltroAtributoServlet</servlet-name>
        <url-pattern>/admin/ListrarAuxFiltroAtributo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAuxFiltroAtributoServlet</servlet-name>
        <url-pattern>/admin/ListarAuxFiltroAtributo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarAuxFiltroAtributoServlet</servlet-name>
        <url-pattern>/admin/EditarAuxFiltroAtributo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverAuxFiltroAtributoServlet</servlet-name>
        <url-pattern>/admin/RemoverAuxFiltroAtributo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarAuxFiltroAtributoBDServlet</servlet-name>
        <url-pattern>/admin/AdicionarAuxFiltroAtributoBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarAuxFiltroAtributoServlet</servlet-name>
        <url-pattern>/admin/AdicionarAuxFiltroAtributo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTodosUsuariosServlet</servlet-name>
        <url-pattern>/admin/ListarTodosUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarUsuarioAdmServlet</servlet-name>
        <url-pattern>/admin/DeletarUsuarioAdm</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
