<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controle.usuario.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarServlet</servlet-name>
        <servlet-class>controle.usuario.CadastrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileServlet</servlet-name>
        <servlet-class>controle.usuario.MyProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.AtualizarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.DeletarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>controle.homepage.HomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageAdmServlet</servlet-name>
        <servlet-class>controle.homepage.HomepageAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controle.usuario.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>controle.produto.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.MostrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.AdicionarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirProdutoBDServlet</servlet-name>
        <servlet-class>controle.produto.InserirProdutoBDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <servlet-class>controle.produto.RemoverProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.EditarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarFotoServlet</servlet-name>
        <servlet-class>controle.foto.AdicionarFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarFotoBDServlet</servlet-name>
        <servlet-class>controle.foto.AdicionarFotoBDServlet</servlet-class>
        <multipart-config>
            <location/>
            <max-file-size>52428800</max-file-size>
            <!-- 50MB -->
            <max-request-size>62914560</max-request-size>
            <!-- 60MB -->
            <file-size-threshold>1048576</file-size-threshold>
            <!-- 1MB -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>MostrarFotoServlet</servlet-name>
        <servlet-class>controle.foto.MostrarFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarFotoServlet</servlet-name>
        <servlet-class>controle.foto.EditarFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverFotoServlet</servlet-name>
        <servlet-class>controle.foto.RemoverFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileAdmServlet</servlet-name>
        <servlet-class>controle.usuario.MyProfileAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompeticoesServlet</servlet-name>
        <servlet-class>controle.competicao.CompeticoesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarServlet</servlet-name>
        <url-pattern>/Cadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileServlet</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <url-pattern>/AtualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarUsuarioServlet</servlet-name>
        <url-pattern>/DeletarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageAdmServlet</servlet-name>
        <url-pattern>/HomepageAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/Produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProdutoServlet</servlet-name>
        <url-pattern>/MostrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoServlet</servlet-name>
        <url-pattern>/AdicionarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirProdutoBDServlet</servlet-name>
        <url-pattern>/InserirProdutoBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <url-pattern>/RemoverProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProdutoServlet</servlet-name>
        <url-pattern>/EditarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarFotoServlet</servlet-name>
        <url-pattern>/AdicionarFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarFotoBDServlet</servlet-name>
        <url-pattern>/AdicionarFotoBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarFotoServlet</servlet-name>
        <url-pattern>/MostrarFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarFotoServlet</servlet-name>
        <url-pattern>/EditarFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverFotoServlet</servlet-name>
        <url-pattern>/RemoverFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileAdmServlet</servlet-name>
        <url-pattern>/MyProfileAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompeticoesServlet</servlet-name>
        <url-pattern>/Competicoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <url-pattern>/Categorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCategoriaServlet</servlet-name>
        <url-pattern>/InserirCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarCategoriaServlet</servlet-name>
        <url-pattern>/DeletarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <url-pattern>/AtualizarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTimeServlet</servlet-name>
        <url-pattern>/Times</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirTimeServlet</servlet-name>
        <url-pattern>/InserirTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarTimeServlet</servlet-name>
        <url-pattern>/DeletarTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarTimeServlet</servlet-name>
        <url-pattern>/AtualizarTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCampeonatoServlet</servlet-name>
        <url-pattern>/Campeonatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCampeonatoServlet</servlet-name>
        <url-pattern>/InserirCampeonato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarCampeonatoServlet</servlet-name>
        <url-pattern>/DeletarCampeonato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCampeonatoServlet</servlet-name>
        <url-pattern>/AtualizarCampeonato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAuxCampTimeServlet</servlet-name>
        <url-pattern>/AuxCampTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirAuxCampTimeServlet</servlet-name>
        <url-pattern>/InserirAuxCampTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarAuxCampTimeServlet</servlet-name>
        <url-pattern>/DeletarAuxCampTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarAuxCampTimeServlet</servlet-name>
        <url-pattern>/AtualizarAuxCampTime</url-pattern>
    </servlet-mapping>
</web-app>
